body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  border-radius: 50%;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
li {
  margin-bottom: 10px;
  background-color: #063665b6;
  padding: 10px;
}
/* form */
section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* input */
input[type="text"],
input[type="email"],
input[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
input [type="submit"]:hover {
  background-color: #0056b3;
}
/* background */
body {
  background-image: url("https://shorturl.at/PZxd4");
  background-size: cover;
  background-position: center;
}
